<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>All Images</title>
</head>
<body>
   
    <div class="container">
        <h3 class="text text-info text-center my-5 py-5">We Love Your Presence Here..</h3>
        <div class="row">
            <% items.forEach(function(image) { %>
            <div class="col-lg-4">
              
                    <div class="card">
                        
                            <img src="data:image/<%=image.img.contentType%>;base64,
                                 <%=image.img.data.toString('base64')%>" class="img img-fluid" style="width:180px;height:200px"/>
                            
                               
                        <div class="card-body">
                            <h5><%= image.name %></h5>
                            <br>
                            <br>
                            <p><%= image.desc %></p>
                            <div class="comment-section d-flex btn-group">
                                <a href="/<%=image._id%>/comment" class="btn btn-warning">Comment</a>
                            </div>
                        </div>
                    </div>
                   
                  
        </div>
        <% }) %>
      </div>
    </div>
</body>
</html>