<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>All Images</title>
    <style>
        .card{
            box-shadow: -10px 10px 10px grey;
        }
    </style>

<script>
    var isNS = (navigator.appName == "Netscape") ? 1 : 0;
    if(navigator.appName == "Netscape") document.captureEvents(Event.MOUSEDOWN||Event.MOUSEUP);
    function mischandler(){
    return false;
    }
    function mousehandler(e){
    var myevent = (isNS) ? e : event;
    var eventbutton = (isNS) ? myevent.which : myevent.button;
    if((eventbutton==2)||(eventbutton==3)) return false;
    }
    document.oncontextmenu = mischandler;
    document.onmousedown = mousehandler;
    document.onmouseup = mousehandler;
    </script>
</head>
<body>
   
    <div class="container-fluid">
        <h3 class="text text-info text-center my-5 py-5">We Love Your Presence Here..</h3>
        <div class="row mt-5">
            <% items.forEach(function(image) { %>
            <div class="col-lg-4 card my-5">
              
                   
                <img src="data:image/<%=image.img.contentType%>;base64,
                <%=image.img.data.toString('base64')%>" class="img img-fluid" style="width:500px;height:350px"/>
               
                <div class="card-body" style="width:300px">
                    <h5><%= image.name %></h5>
                    <br>
                    <br>
                    <p><%= image.desc %></p>
                    <div class="comment-section d-flex btn-group">
                        <a href="/image<%= image._id%>" class="btn btn-warning">PRICE :<%= image.base_price%></a>
                    </div>
                </div>
        </div>
        <% }) %>
      </div>
    </div>
</body>
</html>